body {
	background: skyblue;
	font-family: 'Baloo', cursive;
	font-size: 200%;
	text-align: center;
}

div  {
	margin: 0px;
}

h1 {
	text-align: center;
	margin: 0px;
}

.option {
	margin: 5px;
}

.left-image {
	margin-top: 20px;
}

.jumbotron {
	padding: 0px;
	margin-top: 10px;
	background: transparent;
}
.sein {
	width: 50%;
	height: auto;
}

.body-row {
	height:350px;
}

.action {
	height:350px;
}

.start {
	margin-top: 70px;
}

.time-rem {
	margin-top: 10px;
}
